html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #2d2241;
  min-height: 100vh;
  min-width: 265px;
}

.form {
  border: solid #2d2241 3px;
  display: flex;
  margin: auto;
  padding: 16px;
  width: 100%;
  background-color: #f9c802;
  border-radius: 40px;
  font-family: monospace;
  font-size: 14px;
  flex-direction: column;
  margin-bottom: 20px;
  max-width: 600px;
}

.form-main {
  padding-top: 100px;
}

.form-header {
  color: white;
  display: flex;
  font-size: 32px;
  justify-content: center;
  margin-bottom: 60px;
}

.navigation-form {
  display: flex;
  position: fixed;
  width: 100%;
  background-color: #e30613;
  justify-content: flex-start;
}

.navigation-form__link {
  color: white;
  font-style: italic;
  font-family: sans-serif;
  font-weight: 600;
  text-decoration: none;
}

.navigation-form__item {
  border: solid yellow 1px;
  left: 2px;
  padding: 0 6px;
  position: fixed;
  top: 5px;
  background-color: #2d2241;
  border-radius: 8px;
  list-style: none;
}

.form-send{
  display: flex;
  width: 110px;
  align-self: center;
}