html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #E9EB87;
  min-height: 100vh;
}

.form {
  display: flex;
  margin: auto;
  width: 100%;
  flex-direction: column;
  max-width: 600px;
}

.form-main {
  padding-top: 100px;
}

.form-header {
  display: flex;
  justify-content: center;
}

.navigation-form {
  display: flex;
  position: fixed;
  width: 100%;
  background-color: #e30613;
  justify-content: flex-start;
}

.navigation-form__link {
  text-decoration: none;
}

.navigation-form__item {
  list-style: none;
}
