body {
	background: #fefefe;
}

.header {}

.header__link {
	color: yellowgreen;
}




.main{}

.main__header {}

.main__heading {
color: tomato;
font-size: 40px;
}




.about {}

.about__header {
	color: #1460aa;
	font-size: 35px;
}

.about__paragraph {}

.about__link {}




.diary {}

.diary__header {
	color: midnightblue;
	font-size: 35px;
}

.diary__section {
}

.diary__heading--color {
	color: indigo;
}

.diary__paragraph {
}

.diary__link {}



.footer {
	color: rgb(0, 26, 255);
}

