body {
	background: #fefefe;
}

.header {}

.header__link {
	color: yellowgreen;
}

.main {
	width: 100%;
	max-width: 700px;
	margin: 32px auto;
}

.main__header {}

.main__heading {
	color: tomato;
	font-size: 40px;
}

.about {}

.about__header {
	color: #1460aa;
	font-size: 35px;
}

.about__paragraph {}

.about__link {}

.diary {}

.diary__header {
	color: midnightblue;
	font-size: 35px;
}

.diary__section {}

.diary__title {
	color: indigo;
}

.diary__paragraph {}

.diary__link {}

.main__article {}

.article {}

.article__heading {}

.article__title {
	color: #0496FF
}

.article__paragraph {}

.article__footer {}

.article__picture {}

.footer {
	color: rgb(0, 26, 255);
}